.wrapper{
    display: flex;
    /* border: 1px solid green; */
    margin: 30px 60px;
    padding: 10px;
    flex-direction: column;
    width: 450px;
}

.title{

}

.paragraph{
    color: #B8B8B8;
    margin-top: 10px;
}

.Unstop{
    background: none;
    text-align: center;
    border: 1px solid #4C47F7;
    padding: 8px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #2FE9FF;
    margin-top: 30px;
    border-radius: 4px;
}

.image{
    display: flex;
    width: 25px;
    margin-right: 50px;
    justify-content: left;
    margin-left: 10px;
  }

  .socials{
    background: none;
    padding: 4px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #2FE9FF;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .images{
    display: flex;
    width: 30px;
    height: 30px;
    display: flex;
    margin-right: 18px;
    justify-content: left;
  }

  .Guest{
    background: none;
    padding: 8px 20px;
    font-size: 16px;
    color: #2FE9FF;
    border: 1px solid #4C47F7;
    margin-left: 105px;
    border-radius: 4px;
  }

  .line{
    background: #527C88;
    color: #527C88;
    height:2px;
    border-width:0;
    margin-bottom: 30px;
  }

  .form{
    display: flex;
    flex-direction: column;
    color: #B8B8B8;
  }

  .input{
    height: 48px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 8px;
    text-align: left;
    padding-left: 20px;
    color: #B8B8B8;
    background: none;
    border: 1px solid #B8B8B8;;
  }

  .login{
    margin-top: 10px;
    height: 48px;
    border-radius: 10px;
    margin-bottom: 18px;
  }

  .checkbox{
    display: inline-flex;
  }

  .paragraphs{
    color: #B8B8B8;
    margin-left: 10px;
}

.login{
    background: #417505;
    border: none;
    color: #FAFAFA;
    font-size: 20px;
    margin-top: 10px;
}

.text{
    color: #B8B8B8;
    margin-bottom: 10px;
    text-align: center;
}

.text2{
    color: #FAFAFA;
}