.wrapper{
top: 0;
  width: 489px;
  height: 520px;
  margin-top: 75px;
  background: #222222;
  position: absolute;
  right: 10px;
  border-radius: 32px;
  padding: 20px 50px;
  box-shadow: 0px 0px 24px rgba(195, 255, 125, 0.15);

}

.wrap{
  text-align: center;
}

.title{
  margin-bottom: 20px       ;
}

.desc{
  margin-bottom: 60px;
}

.button{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 418px;
  height: 60px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 8px;
  border: 2px solid #C3FF7D;
  background: none;
  color: #fafafa;
  cursor: pointer;
}

.image{
  display: flex;
  width: 30px;
  margin-right: 50px;
  justify-content: left;
}